<!-- <div class="container-fluid">
<div class="app-card-container">
  <div class="card">
    <h1 class="firstheading">My Online CV</h1>
    <h2 class="secondheading">International Business, Management & Full Stack Development</h2>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
     <br>
     <b class="firstheading">FIND ME IN:</b>
      <div class="container">
     <span class="social-links">
     <a href="https://github.com/Kayracz" target="_blank"><i class="fab fa-github"></i></a>
     <a href="https://www.instagram.com/kayczt/" target="_blank"><i class="fab fa-instagram"></i></a>
     <a href="https://www.facebook.com/kayra.czerniewicz" target="_blank"><i class="fab fa-facebook"></i></a>
     <a href="www.linkedin.com/in/kayracz" target="_blank"><i class="fab fa-linkedin"></i></a>
      </span>
        </div>
      </div>

      <div class="col-md-7 respon">
      <br>
        <b class="firstheading">ABOUT ME</b>
        <p class="alignment">With a couple years of working in E-commerce startups, I decided to acquire development experience. I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate in the same way to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.</p>

        <p class="alignment">For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I evaluate and learn more about their business, give daily updates to ensure that the project is aligning properly with the client's goals and most importantly, on budget.</p>

        <div class="other">
        <ul><b class="firstheading">WHAT I DO </b></ul>
        <ul> Design, build & maintain <b>Rails code</b></ul>
        <ul> Manage and maintain applications on <b>Heroku</b></ul>
        <ul> Proficient with creating and maintaing <b>RESTFUL API</b></ul>
        <ul> Solid understanding of <b>object oriented-programming</b></ul>
        <ul> Solid understanding of <b>PosteSQL</b></ul>
        <ul> Creating efficient <b>database schemas</b></ul>
        <ul> Proficient understanding of <b>GIT</b></ul>
        </div>
        <br>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

           <div class="collapse" id="jobHistory">
            <div class="card cardstyle card-block">
             <b>Rv10.com.bo - CTO</b> <i>Santa Cruz, Bolivia  –  June  2019 – October 2019</i>
             Created and manage Rv10’s e-commerce web page. www.rv10.com.bo
            </div>
            <div class="card cardstyle card-block">
             <b>FixPart.com - French Markets Manager</b> <i> Hertogenbosch, Holland – December  2016 – November 2017</i>
             <span>•Operations and growth manager in France, Belgium and Luxembourg.</span>
             <span>•All translations of the content, products and legal terms of the website in French countries.</span>
             <span>•Market research for possible expansions (Spain)</span>
             <span>•Recruitment and training for interns and French/Spanish personnel</span>
             <span>• Social media marketing and planning for France, Germany, the Netherlands, Belgium and Luxembourg. </span>
           </div>
            <div class="card cardstyle card-block">
             <b>GRUPAZO.com - E-Commerce & Logistics Management</b> <i>Buenos Aires, Argentina – January 2016 – June 2016</i>
             <span>• Marketing analysis and strategy implementation</span>
             <span>• Daily update of social networks, email marketing, promotions and online advertising</span>
             <span>• logistics, supply chain management and inventory management</span>
            </div>
          </div>



          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>

          <div class="collapse" id="education">
            <div class="card cardstyle2 card-block">
               <b>Le Wagon - Buenos Aires, ARGENTINA</b>
               <i>October 2018 – December 2018 | <b>Full-Stack Web development</b> </i>
            </div>
            <div class="card cardstyle2 card-block">
               <b>Hogeschool Van Arnhem en Nijmegen – Arnhem Business School – ARNHEM, HOLLAND</b>
               February 2013 - July 2017  | <b>Degree in International Business and Management</b>
            </div>
            <div class="card cardstyle2 card-block">
                <b>ESSCA Business School – ANGERS, FRANCE</b>
                September 2011 – June 2012 |One year of management & french language studies.
            </div>
          </div>

                <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#languages"
            aria-expanded="false"
            aria-controler="languages"
          >
            Foreign Languages
          </button>


                        <div class="collapse" id="languages">
            <div class="card cardstyle2 card-block">
              French - Advanced
            </div>
            <div class="card cardstyle2 card-block">
              Spanish - Native language
            </div>
            <div class="card cardstyle2 card-block">
              English - Advanced (TOEFL 97/120)
            </div>
          </div>
        <span class="info">* click twice</span>
        <p>

        </p>
      </div>
    </div>
  </div>
</div>
</div> -->
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container text-center">
             <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
          <div class="w3-display-bottomleft w3-container w3-text-black">
      <!--       <h2>Kayra Czerniewicz Terrazas</h2> -->
          </div>
        </div>

      <hr>
      <div class="container-fluid text-center">
     <span class="social-links2">
     <a href="https://github.com/Kayracz" target="_blank"><i class="fab fa-github"></i></a>
     <a href="https://www.instagram.com/kayczt/" target="_blank"><i class="fab fa-instagram"></i></a>
     <a href="https://www.facebook.com/kayra.czerniewicz" target="_blank"><i class="fab fa-facebook"></i></a>
     <a href="www.linkedin.com/in/kayracz" target="_blank"><i class="fab fa-linkedin"></i></a>
      </span>
        </div>
<hr>
          <br>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>International Bussiness, Management & Full Stack Development</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Santa Cruz, Bolivia</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><a class="btn-contact" href="mailto:kayracz@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
          <!-- <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><%= number_to_phone "(+591) 78000375" %></p> -->
          <hr>

          <p class="w3-large"><b><i class="fa fa-code fa-fw w3-margin-right "></i>Programming languages</b></p>
            <div class="skills">
                <% @skills.each do |skill| %>
                  <div class="skill">
                    <h4><%= skill.title %></h4>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar"
                        aria-valuenow="<%= skill.percent_utilized %>"
                        aria-valuemax="100"
                        style="width: <%= skill.percent_utilized %>%"
                      ></div>
                    </div>
                  </div>
                <% end %>
              </div>

        <br>
        <div class="other">
        <p class="w3-large w3-text-theme"><b><i class="fa fa-code fa-fw w3-margin-right w3-text-teal"></i>What I Do</b></p>
        <ul> Design, build & maintain <b>Rails code</b></ul>
        <ul> Manage and maintain applications on <b>Heroku</b></ul>
        <ul> Proficient with creating and maintaing <b>RESTFUL API</b></ul>
        <ul> Solid understanding of <b>object oriented-programming</b></ul>
        <ul> Solid understanding of <b>PosteSQL</b></ul>
        <ul> Creating efficient <b>database schemas</b></ul>
        <ul> Proficient understanding of <b>GIT</b></ul>
        </div>

          <br>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <br>
          <p>Spanish</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <br>
          <p>French</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:90%"></div>
          </div>
            <br>
           <p>Dutch</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div>
          <br>
        </div>
      </div><br>


    <!-- End Left Column -->
    </div>

 <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
       <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-user-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About Me</h2>
        <p class="alignment">With a couple years of working in E-commerce startups, I decided to acquire development experience. I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate in the same way to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.</p>

        <p class="alignment">For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication, market research and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I evaluate and learn more about their business, give daily updates to ensure that the project is aligning properly with the client's goals and most importantly, on budget.</p>
        </div>
      </div>

    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class=""><b>Rv10.com.bo - CTO</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June  2019 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
           <h6 class="w3-text-teal"><i class="fa fa-map fa-fw w3-margin-right"></i><i>Santa Cruz, Bolivia</i></h6>
          <p>  Created and manage Rv10’s e-commerce web page. www.rv10.com.bo</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class=""><b>FixPart.com - French Markets Manager</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>December  2016 – November 2017</h6>
          <h6 class="w3-text-teal"><i class="fa fa-map fa-fw w3-margin-right"></i><i> Hertogenbosch, Holland</i></h6>
          <p> <span>Operations and growth manager in France, Belgium and Luxembourg.</span></p>
          <p> <span>All translations of the content, products and legal terms of the website in French countries.</span></p>
          <p> <span>Market research for possible expansions (Spain)</span> </p>
          <p> <span>Recruitment and training for interns and French/Spanish personnel</span> </p>
          <p> <span>Social media marketing and planning for France, Germany, the Netherlands, Belgium and Luxembourg. </span></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class=""><b>GRUPAZO.com - E-Commerce & Logistics Management</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2016 – June 2016</h6>
          <h6 class="w3-text-teal"><i class="fa fa-map fa-fw w3-margin-right"></i><i>Buenos Aires, Argentina</i></h6>
          <p><span>Marketing analysis and strategy implementation</span></p>
          <p><span>Daily update of social networks, email marketing, promotions and online advertising</span></p>
          <p><span>Logistics, supply chain management and inventory management</span></p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class=""><b>Le Wagon</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>October 2018 – December 2018</h6>
          <h6 class="w3-text-teal"><i class="fa fa-map fa-fw w3-margin-right"></i><i>Buenos Aires, Argentina</i></h6>
          <p><b>Full-Stack Web development</b></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class=""><b>Hogeschool Van Arnhem en Nijmegen – Arnhem Business School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>February 2013 - July 2017</h6>
          <h6 class="w3-text-teal"><i class="fa fa-map fa-fw w3-margin-right"></i><i>Arnhem, Holland</i></h6>
          <p><b>Degree in International Business and Management</b></p>
          <hr>
        </div>
          <div class="w3-container">
          <h5 class=""><b>Pilon School of Business - Sheridan</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2015 – December 2015</h6>
          <h6 class="w3-text-teal"><i class="fa fa-map fa-fw w3-margin-right"></i><i>- Missisauga, Canada</i></h6>
          <p><b>Exchange program with Arnhem Business School for one semester. Minored in Supply Chain management</b></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class=""><b>ESSCA Business School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2011 – June 2012 </h6>
          <h6 class="w3-text-teal"><i class="fa fa-map fa-fw w3-margin-right"></i><i>Angers, France</i></h6>
          <p>One year of management & french language studies.</p><br>
        </div>
        <hr>
         <div class="w3-container">
          <h5 class=""><b> Lycée Ambroise Paré</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2009 – October 2010</h6>
          <h6 class="w3-text-teal"><i class="fa fa-map fa-fw w3-margin-right"></i><i>Laval, France</i></h6>
          <p>Rotary Club exchange program / première ES – Terminale ES</p><br>
        </div>
                 <div class="w3-container">
          <h5 class=""><b>Santa Cruz Cooperative School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 1999 – August 2009/ 2011</h6>
          <h6 class="w3-text-teal"><i class="fa fa-map fa-fw w3-margin-right"></i><i>Santa Cruz, Bolivia</i></h6>
          <p>Graduated from Santa Cruz Cooperative School in 2011.</p><br>
        </div>
      </div>
      <br>
      <br>


    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

